<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
    <router-outlet></router-outlet>
</main><!-- End #main -->

<app-footer></app-footer>

<!-- Theme Settings -->
<!-- data-bs-scroll="true" data-bs-backdrop="false" -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="theme-settings-offcanvas" style="width: 35%;">
    <div class="d-flex align-items-center bg-color p-3 offcanvas-header">
        <h5 class="text-white m-0">All Notifications</h5>
        <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>

    <div class="offcanvas-body px-3 notification-list">

        <h5 class="text-muted font-14 fw-normal mt-2">Today</h5>
        <!-- item-->

        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card unread-noti shadow-none mb-2">
            <div class="card-body">
                <a class="float-end noti-close-btn text-muted"><i class="bi bi-x"></i></a>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="notify-icon bg-primary">
                            <i class="bi bi-person-vcard"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 text-truncate ms-2">
                        <h5 class="noti-item-title fw-semibold font-14 mb-0">Datacorp <small
                                class="fw-normal text-muted ms-1">1 min ago</small></h5>
                        <small class="noti-item-subtitle text-muted">Caleb Flakelar commented on Admin</small>
                    </div>
                </div>
            </div>
        </a>

        <h5 class="text-muted font-14 fw-normal mt-3">Other Day</h5>

        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card unread-noti shadow-none mb-2">
            <div class="card-body">
                <a class="float-end noti-close-btn text-muted"><i class="bi bi-x"></i></a>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="notify-icon bg-info">
                            <i class="bi bi-person-vcard"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 text-truncate ms-2">
                        <h5 class="noti-item-title fw-semibold font-14 mb-0">Datacorp <small
                                class="fw-normal text-muted ms-1">1 min ago</small></h5>
                        <small class="noti-item-subtitle text-muted">Caleb Flakelar commented on Admin</small>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>